@font-face {
    font-family: 'Cousine-Regular';
    src: url('assets/fonts/Cousine-Regular.ttf') format('truetype'),
         url('assets/fonts/Cousine-Bold.ttf') format('truetype'),
         url('assets/fonts/Cousine-BoldItalic.ttf') format('truetype'),
         url('assets/fonts/Cousine-Italic.ttf') format('truetype')
}

body {
    font-family: 'Cousine-Regular';
    padding: 20px 60px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: line-through;
}

* {
    box-sizing: border-box;
}
